@{
    ViewData["Title"] = "About";
}

<h2>About</h2>
<h3 class="purple-text">
    Bu uygulamada:<br />
    -Öğrenci ekleyebilirsiniz.<br />
    -Öğrenci silebilirsiniz.<br />
    -Öğrencinin Bilgilerini Düzenleyebilirsiniz.
</h3>
<p>Use this area to provide additional information.</p>
